
# ignore all .txt .Rhistory .RData files
*.txt
*.Rhistory
*.RData


# Folders to ignore
material/*
data/*
figures/*
output/*
projects/*
individual/*

# Individual files
#act\ google\ movement.xlsx
